.message {
  padding-top: 6px;
  padding-bottom: 6px;
  @apply bg-grey-200;
  @apply text-grey-900;
  @apply rounded-4;
  @apply px-4;
  @apply mb-2;
  @apply dark:bg-grey-800;
  @apply dark:text-white;
}

.message--maker {
  @apply self-start;
}

.message--user {
  @apply self-end;
  @apply bg-teal-700;
  @apply text-white;
}

.action-list {
  margin-top: 6px;
  margin-bottom: -6px;
  @apply -mx-4;
  @apply z-0;
}

.action {
  border: 0 solid;
  @apply block;
  @apply w-full;
  @apply bg-inherit;
  @apply border;
  @apply border-grey-300;
  @apply text-blue-700;
  @apply leading-lg;
  @apply px-2;
  @apply py-2;
  @apply transition-all;
  @apply duration-75;
  @apply ease-in-out;
  @apply relative;
  @apply dark:border-grey-700;
  @apply dark:text-white;
}

.action:hover {
  @apply text-blue-800;
  @apply bg-blue-700;
  @apply bg-opacity-10;
  @apply border-blue-700;
  @apply z-10;
  @apply dark:text-white;
}

.action:active {
  @apply text-blue-900;
  @apply bg-blue-700;
  @apply bg-opacity-20;
  @apply border-blue-700;
  @apply z-10;
  @apply dark:text-white;
}

.action:not(:first-child) {
  @apply -mt-px;
}

.action:last-child {
  @apply rounded-b-4;
}

.action:focus {
  @apply outline-none;
}

.action:focus-visible {
  @apply shadow-inner;
  @apply border-blue-700;
  @apply z-10;
  @apply dark:shadow-inner-dark;
}
